html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: black !important;
}

/*------navbar--------*/
.navbar{
  padding: 1rem;
}
.navbar-nav li{
  margin-right: 30px;
}
.nav-link{
  font-size: 1.1em !important;
}
.navbar ul li a:hover{
  color: rgb(37, 31, 2) !important;
}
.navbar ul li{
  border: 1px solid transparent; 
}
.navbar ul li:hover{
  background-color: rgb(155, 219, 236);
  border-radius: 10px;
}

/*----------banner------------*/
.carousel-inner img{
  width: 100%;
  height: 73vh;
}
#bt:hover{
  background-color: rgba(85, 6, 78, 0.849);
}
.carousel-caption h3{
  font-size: 45px;
}
.carousel-caption p{
  font-size: 20px;
}
.carousel-caption #c3{
  color: rgb(97, 35, 148);
}
.carousel-caption #c2{
  color: rgb(9, 32, 17);
}
/*----------welcome--------------*/
#w1,#w2{
  background-image: linear-gradient(to right, rgba(179, 176, 163,0.2),rgba(190, 174, 174,0.3));
}
#w1{
  margin-top: 30px;
  padding-top: 50px;
}

/*-----------three column--------------*/
#w2 .fa-code{
  color: blue;
}
#w2 .fa-css3{
  color: orange;
}
#w2 .fa-bold{
  color: violet;
}

/*-----------two coloumn-----------------*/
#two-col{
  margin-top: 40px;
}
#two-col-pad{
  padding-top:  50px;
}

.fun{
  margin-top: 10px;
  border: 1px solid transparent;
  background-color: rgb(146, 205, 209); 
}

/*----------emojis----------*/
#emojis img{
  margin-top: 40px;
  width: 200px;
  height: 160px;
}

/*-----------team section------------*/
div #line2{
  border-bottom: 2px solid rgb(88, 90, 212);
}
#team{
  padding-top: 20px;
}

#about{
  padding-top: 20px;
}


/*------------cards section-----------*/


/*-------------connect---------------*/

#social{
  margin-top: 40px;
  margin-bottom: 5px;
  background-color: rgb(238, 231, 220);
  padding: 30px;
}
#social .container{
  padding-top: 120px;
}

#social a{
  margin-left: 35px;
}

#social .icons{
  margin-top: 40px;
}
#social .icons a:hover i{
  transform: translateY(-10px);
}
.fa-instagram{
 color: rgb(241, 50, 156);
}


 
 

/*-----------------footer--------------*/
#footer{
  background-color: rgb(56, 53, 53);
  color: #fff;
  padding-bottom: 50px;
}
#footer hr{
  border: 0.3px solid #fff;
}
